.card-container {
    width: 326px;
    height: fit-content;
    border-radius: 4px;
    padding: 16px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.card-container:nth-child(4n+1) {
    background: #F7FEFF;
    border: 1px solid #01959F;
}

.card-container:nth-child(4n+2) {
    background: #FFFCF5;
    border: 1px solid #FEEABC;
}

.card-container:nth-child(4n+3) {
    background: #FFFAFA;
    border: 1px solid #F5B1B7;
}

.card-container:nth-child(4n+4) {
    background: #F8FBF9;
    border: 1px solid #B8DBCA;
}

.card-container .group-title {
    padding: 2px 8px;
    width: fit-content;
    height: auto;
    border-radius: 4px;
}

.card-container:nth-child(4n+1) .group-title{
    background: #F7FEFF;
    color: #01959F;
    border: 1px solid #4DB5BC;
}

.card-container:nth-child(4n+2) .group-title{
    background: #FFFCF5;
    color: #FA9810;
    border: 1px solid #FEEABC;
}

.card-container:nth-child(4n+3) .group-title{
    background: #FFFAFA;
    color: #E11428;
    border: 1px solid #F5B1B7;
}

.card-container:nth-child(4n+4) .group-title{
    background: #F8FBF9;
    color: #43936C;
    border: 1px solid #B8DBCA;
}

.date {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
}

.create-task {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1D1F20;
    gap: 5px;
    border: none;
    width: fit-content;
    background-color: transparent;
}