.card-container {
    width: 326px;
    height: fit-content;
    background: #F7FEFF;
    border: 1px solid #01959F;
    border-radius: 4px;
    padding: 16px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.group-title {
    width: 88px;
    height: 24px;
    border-radius: 4px;
    background: #F7FEFF;
    border: 1px solid #4DB5BC;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #01959F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
}

.create-task {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1D1F20;
    gap: 5px;
}